[submodule "somatic-sniper"]
	path = somatic-sniper
	url = ssh://git/srv/git/somatic-sniper.git
[submodule "joinx"]
	path = joinx
	url = ssh://git/srv/git/joinx.git
[submodule "vendor/Net-HTTPServer"]
	path = vendor/Net-HTTPServer
	url = ssh://git/srv/git/vendor/Net-HTTPServer.git
[submodule "vendor/File-Grep"]
	path = vendor/File-Grep
	url = ssh://git/srv/git/vendor/File-Grep.git
[submodule "tigra"]
	path = tigra
	url = ssh://git//srv/git/tigra.git
[submodule "genome-music-testdata"]
	path = genome-music-testdata
	url = ssh://git//srv/git/genome-music-testdata.git
[submodule "varscan"]
	path = varscan
	url = ssh://git//srv/git/varscan.git
[submodule "tigra-sv"]
	path = tigra-sv
	url = ssh://git/srv/git/tigra-sv.git
[submodule "breakdancer"]
	path = breakdancer
	url = git://github.com/genome/breakdancer.git
[submodule "genome-db-cosmic"]
	path = genome-db-cosmic
	url = ssh://git//srv/git/genome-db-cosmic.git
[submodule "genome-db-omim"]
	path = genome-db-omim
	url = ssh://git//srv/git/genome-db-omim.git
[submodule "genome-db-pfam"]
	path = genome-db-pfam
	url = ssh://git//srv/git/genome-db-pfam.git
[submodule "bam-readcount"]
	path = bam-readcount
	url = ssh://git//srv/git/bam-readcount.git
[submodule "ur"]
	path = ur
	url = ssh://apipe-review.gsc.wustl.edu:29418/UR
[submodule "workflow"]
	path = workflow
	url = ssh://git/srv/git/workflow.git
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/genome/wugc-hudson.git
[submodule "getopt-complete"]
	path = getopt-complete
	url = https://github.com/genome/Getopt--Complete-for-Perl.git
[submodule "bassovac"]
	path = bassovac
	url = ssh://git/srv/git/bassovac.git
[submodule "graphite"]
    path = graphite
    url = https://github.com/genome/graphite.git
[submodule "fqgrep"]
	path = fqgrep
	url = https://github.com/genome/fqgrep.git
[submodule "sff2fastq"]
	path = sff2fastq
	url = https://github.com/genome/sff2fastq.git
[submodule "cron"]
	path = cron
	url = ssh://git/srv/git/genome_cron.git
[submodule "pairoscope"]
	path = pairoscope
	url = ssh://git//srv/git/pairoscope.git
[submodule "alignment_summary"]
	path = alignment_summary
	url = ssh://git//srv/git/alignment_summary.git
[submodule "vendor/tophat"]
	path = vendor/tophat
	url = git@github.com:genome-vendor/tophat.git
[submodule "vendor/libbio-samtools-perl"]
	path = vendor/libbio-samtools-perl
	url = ssh://git/srv/git/vendor/libbio-samtools-perl
[submodule "vendor/samtools"]
	path = vendor/samtools
	url = ssh://git/srv/git/vendor/samtools
[submodule "vendor/bwa"]
	path = vendor/bwa
	url = git://github.com/genome-vendor/bwa.git
[submodule "vendor/apollo"]
	path = vendor/apollo
	url = git@github.com:genome-vendor/apollo.git
[submodule "vendor/mutalin"]
	path = vendor/mutalin
	url = git@github.com:genome-vendor/mutalin.git
[submodule "vendor/cufflinks"]
	path = vendor/cufflinks
	url = git@github.com:genome-vendor/cufflinks.git
[submodule "vendor/velvet"]
	path = vendor/velvet
	url = git@github.com:genome-vendor/velvet.git
[submodule "vendor/samtools-hybrid"]
	path = vendor/samtools-hybrid
	url = git@github.com:genome-vendor/samtools-0.1.7a-hybrid.git
[submodule "vendor/bsmap"]
	path = vendor/bsmap
	url = git@github.com:genome-vendor/bsmap.git
[submodule "vendor/allpathslg"]
	path = vendor/allpathslg
	url = git@github.com:genome-vendor/allpathslg.git
[submodule "vendor/ensembl"]
	path = vendor/ensembl
	url = git@github.com:genome-vendor/ensembl.git
[submodule "vendor/CummeRbund"]
	path = vendor/CummeRbund
	url = git@github.com:genome-vendor/CummeRbund.git
[submodule "tgi-etc"]
	path = tgi-etc
	url = ssh://git/srv/git/genome-tgi-etc.git
[submodule "vendor/pindel"]
	path = vendor/pindel
	url = git@github.com:genome-vendor/pindel.git
[submodule "vendor/dendrix"]
	path = vendor/dendrix
	url = git@github.com:genome-vendor/Dendrix.git
[submodule "vendor/hotnet"]
	path = vendor/hotnet
	url = git@github.com:genome-vendor/HotNet.git
[submodule "vendor/File-lockf"]
	path = vendor/File-lockf
	url = http://github.com/genome-vendor/File-Lockf.git
[submodule "vendor/statgen"]
	path = vendor/statgen
	url = git@github.com:genome-vendor/statgen.git
[submodule "vendor/tophat-fusion"]
    path = vendor/tophat-fusion
    url = git@github.com:genome-vendor/tophat-fusion.git
[submodule "vendor/MGLtools"]
	path = vendor/MGLtools
	url = git@github.com:genome-vendor/MGLtools.git
[submodule "vendor/savant"]
	path = vendor/savant
	url = git://github.com/genome-vendor/savant.git
[submodule "vendor/freebayes"]
	path = vendor/freebayes
	url = git@github.com:genome-vendor/freebayes.git
[submodule "vendor/FLASH"]
	path = vendor/FLASH
	url = git@github.com:genome-vendor/FLASH.git
[submodule "vendor/chimerascan"]
	path = vendor/chimerascan
	url = git@github.com:genome-vendor/chimerascan.git
[submodule "vendor/r-cran-gplots"]
	path = vendor/r-cran-gplots
	url = git@github.com:genome-vendor/r-cran-gplots.git
[submodule "vendor/r-cran-bitops"]
	path = vendor/r-cran-bitops
	url = git@github.com:genome-vendor/r-cran-bitops.git
[submodule "vendor/r-cran-catools"]
	path = vendor/r-cran-catools
	url = git@github.com:genome-vendor/r-cran-catools.git
[submodule "vendor/r-cran-h5r"]
	path = vendor/r-cran-h5r
	url = git@github.com:genome-vendor/r-cran-h5r.git
[submodule "vendor/r-cran-pbh5"]
	path = vendor/r-cran-pbh5
	url = git@github.com:genome-vendor/r-cran-pbh5
[submodule "vendor/r-bioc-lumi"]
	path = vendor/r-bioc-lumi
	url = git@github.com:genome-vendor/r-bioc-lumi.git
[submodule "vendor/r-bioc-biobase"]
	path = vendor/r-bioc-biobase
	url = git@github.com:genome-vendor/r-bioc-biobase.git
[submodule "genome-snapshot-testdata"]
	path = genome-snapshot-testdata
	url = ssh://git//srv/git/genome-snapshot-testdata.git
[submodule "vendor/libstatistics-robust-scale-perl"]
	path = vendor/libstatistics-robust-scale-perl
	url = git@github.com:genome-vendor/libstatistics-robust-scale-perl.git
[submodule "vendor/r-cran-skat"]
	path = vendor/r-cran-skat
	url = git@github.com:genome-vendor/r-cran-skat.git
[submodule "vendor/bowtie"]
	path = vendor/bowtie
	url = git@github.com:genome-vendor/bowtie.git
[submodule "vendor/r-cran-ggplot2"]
	path = vendor/r-cran-ggplot2
	url = git@github.com:genome-vendor/r-cran-ggplot2.git
[submodule "vendor/MetaVelvet"]
	path = vendor/MetaVelvet
	url = git@github.com:genome-vendor/MetaVelvet.git
[submodule "vendor/Statistics-TTest"]
	path = vendor/Statistics-TTest
	url = git@github.com:genome-vendor/Statistics-TTest.git
[submodule "vendor/bedtools"]
	path = vendor/bedtools
	url = git@github.com:genome-vendor/bedtools.git
[submodule "genome-snapshot-deps"]
	path = genome-snapshot-deps
	url = ssh://git/srv/git/genome-snapshot-deps.git
[submodule "vendor/polymutt"]
	path = vendor/polymutt
	url = git@github.com:genome-vendor/polymutt.git
[submodule "vendor/trinity"]
	path = vendor/trinity
	url = git@github.com:genome-vendor/trinity.git
[submodule "vendor/r-cran-rcurl"]
    path = vendor/r-cran-rcurl
    url = git@github.com:genome-vendor/r-cran-rcurl.git
[submodule "vendor/r-cran-chemminer"]
    path = vendor/r-cran-chemminer
    url = git@github.com:genome-vendor/r-cran-chemminer.git
[submodule "vendor/far"]
	path = vendor/far
	url = git@github.com:genome-vendor/far.git
[submodule "vendor/r-cran-fastcluster"]
    path = vendor/r-cran-fastcluster
    url = git@github.com:genome-vendor/r-cran-fastcluster.git
[submodule "vendor/r-cran-plyr"]
    path = vendor/r-cran-plyr
    url = git@github.com:genome-vendor/r-cran-plyr.git
[submodule "vendor/r-cran-reshape"]
    path = vendor/r-cran-reshape
    url = git@github.com:genome-vendor/r-cran-reshape.git
[submodule "vendor/r-cran-reshape2"]
    path = vendor/r-cran-reshape2
    url = git@github.com:genome-vendor/r-cran-reshape2.git
[submodule "vendor/r-cran-rsqlite"]
    path = vendor/r-cran-rsqlite
    url = git@github.com:genome-vendor/r-cran-rsqlite.git
[submodule "vendor/r-cran-stringr"]
    path = vendor/r-cran-stringr
    url = git@github.com:genome-vendor/r-cran-stringr.git
[submodule "vendor/VEP_plugins"]
	path = vendor/VEP_plugins
	url = https://github.com/genome-vendor/VEP_plugins.git
[submodule "bam-window"]
	path = bam-window
	url = ssh://git//srv/git/bam-window.git
[submodule "vendor/strelka"]
	path = vendor/strelka
	url = git@github.com:genome-vendor/strelka.git
[submodule "copyCat"]
	path = copyCat
	url = ssh://git//srv/git/copyCat.git
[submodule "sciClone"]
    path = sciClone
    url = git@github.com:genome/sciclone.git
[submodule "vendor/htseq"]
	path = vendor/htseq
	url = git@github.com:genome-vendor/htseq.git
[submodule "vendor/rna-star"]
	path = vendor/rna-star
	url = git@github.com:sakoht/rna-star.git
[submodule "configuration-manager"]
	path = configuration-manager
	url = https://github.com/genome/configuration-manager.git
[submodule "gms-config"]
	path = gms-config
	url = ssh://git/srv/git/gms-config.git
[submodule "vendor/gatk-protected"]
	path = vendor/gatk-protected
	url = git@github.com:genome-vendor/gatk-protected.git
[submodule "vendor/picard-tools"]
	path = vendor/picard-tools
	url = https://github.com/genome-vendor/picard-tools.git
[submodule "bmm"]
	path = bmm
	url = https://github.com/genome/bmm.git 
[submodule "vendor/libset-intervaltree-perl"]
	path = vendor/libset-intervaltree-perl
	url = https://github.com/genome-vendor/libset-intervaltree-perl.git
[submodule "vendor/r-cran-normt3"]
	path = vendor/r-cran-normt3
	url = https://github.com/sakoht/r-cran-normt3.git
[submodule "vendor/dindel"]
	path = vendor/dindel
	url = https://github.com/genome/dindel.git
[submodule "vendor/circos"]
	path = vendor/circos
	url = https://github.com/genome-vendor/circos.git
