# Mac OS X
.DS_Store

# Komodo project files
*.kpf
*.komodoproject

# swap and backup files
*.swo
*.swp
*~

tags

# symlinks that test environment makes
bin/perl
bin/prove

# binary version of SQLite databases
lib/perl/Genome/DataSource/Meta.sqlite3
lib/perl/Genome/DataSource/SearchIndexQueue.sqlite3
