============================================================
[% page_title %]
============================================================

Model Id: [% model_id %]
Model Name: [% model_name %]

Unfiltered Concordance Summary:
 total unfiltered SNPs: [% total_unfiltered_snps %]
 unfiltered dbSNP positions: [% dbsnp_unfiltered_positions %]
 unfiltered concordance: [% unfiltered_concordance %]

Filtered Concordance Summary:
 total filtered SNPs: [% total_filtered_snps %]
 filtered dbSNP positions: [% dbsnp_filtered_positions %]
 filtered concordance: [% filtered_concordance %]

Unfiltered DbSNP Data:
[% unfiltered_db_snp_data %]

Unfiltered All SNP Data:
[% unfiltered_all_snp_data %]

Unfiltered Concordance Data:
[% unfiltered_concordance_data %]

Filtered DbSNP Data:
[% filtered_db_snp_data %]

Filtered All SNP Data:
[% filtered_all_snp_data %]

Filtered Concordance Data:
[% filtered_concordance_data %]

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                  The Genome Center at Washington University
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
