============================================================
[% model_name %] Build Report
============================================================

HTML version of this report: [% files_url %][% data_directory %]reports/Summary/report.html


Model Details
------------------------------------------------------------
                genome model: [% model_id %] "[% model_name %]"
                     patient: [% patient_upn %]
                     species: [% species %]
          reference sequence: [% IF ref_seq_desc %][% ref_seq_desc %], build id [% ref_seq_build_id %][% ELSE %][% ref_seq_name %][% END %]
               tissue sample: [% tissue_sample_label %]
                  extraction: [% extraction_label %] ([% extraction_name %]) [% extraction_type %] ID: [% extraction_id %]
          processing profile: [% processing_profile_name %] [% processing_profile_type %] ([% processing_profile_id %])

Build Details
------------------------------------------------------------
                    build id: [% build_id %]
             completion date: [% build_date %]
                  lane count: [% total_number_of_lanes %]
------------------------------------------------------------
Build Data Directory: [% files_url %][% data_directory %]


Haploid
------------------------------------------------------------
            haploid coverage: [% haploid_coverage %]
        unfiltered SNP calls: [% unfiltered_snp_calls %]
          filtered SNP calls: [% filtered_snp_calls %]
             snp chromosomes: [% snp_chromosomes %]
------------------------------------------------------------


Diploid
------------------------------------------------------------
unfiltered diploid heterozygous count: [% unfiltered_diploid_het_coverage_actual_number %]
    unfiltered diploid heterozygous %: [% unfiltered_diploid_het_coverage_percent %]

  unfiltered diploid homozygous count: [% unfiltered_diploid_hom_coverage_actual_number %]
      unfiltered diploid homozygous %: [% unfiltered_diploid_hom_coverage_percent %]

  filtered diploid heterozygous count: [% filtered_diploid_het_coverage_actual_number %]
      filtered diploid heterozygous %: [% filtered_diploid_het_coverage_percent %]

    filtered diploid homozygous count: [% filtered_diploid_hom_coverage_actual_number %]
        filtered diploid homozygous %: [% filtered_diploid_hom_coverage_percent %]


------------------------------------------------------------
view details: [% files_url %][% data_directory %]reports/Gold_SNP_Concordance/report.html


dbSNP
------------------------------------------------------------
unfiltered dbsnp concordance: [% unfiltered_dbsnp_concordance %]
  filtered dbsnp concordance: [% filtered_dbsnp_concordance %]
------------------------------------------------------------
view details: [% files_url %][% data_directory %]reports/dbSNP_Concordance/report.html

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                  The Genome Center at Washington University
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
