<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			[% model_name %] Build Summary
		</title>
	</head>
	<body style="margin:0;padding:0;">
		<div align="center">
			<table border="0" cellpadding="0" cellspacing="0" width="600" summary="report title and framework">
				<tbody>
					<tr>
						<td>
							<h1 style="font-family:Helvetica,Arial,sans-serif;font-size:105%;line-height:45px;font-weight:bold;color:#FFF;margin:0;padding:0 15px;background-color: #5f604c;border-bottom:5px solid #8dc643">
								Build Summary for Model [% model_id %] ("<em>[% model_name %]</em>")
							</h1>
						</td>
					</tr>
					<tr>
						<td style="padding: 15px 25px;">
							<!-- report section -->
							<table border="0" cellspacing="0" cellpadding="0" width="100%" summary="report section header">
								<tbody>
<!--							<tr>
										<td style="border-bottom:3px solid #c5c6be;">
											<h2 style="font-family:Helvetica,Arial,sans-serif;font-size:105%;line-height:1.2;color:#36372c;margin:0;padding:5px 0;">
												Build Summary
											</h2>
										</td>
										<td style="border-bottom:3px solid #c5c6be;" align="right"></td>
									</tr> -->
									<tr>
										<td style="padding:10px;" colspan="2">
											<!-- report subsection-->
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0 0 0 0;padding:0;" summary="report subsection header">
												<tr>
													<td style="border-bottom: 2px solid #CCC;">
														<h2 style="font-family:Helvetica,Arial,sans-serif;font-size:100%;color:#36372c;margin:0 0 0 0;padding:5px 0 3px 5px;">
															Model Details
														</h2>
													</td>
													<td style="border-bottom: 2px solid #CCC;" align="right"></td>
												</tr>
											</table>
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:5px 0 5px 5px;padding:0;" summary="report key value data table">
												<colgroup>
													<col/>
													<col width="100%"/>
												</colgroup>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														model id:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% model_id %] <a href="https://imp.gsc.wustl.edu/view/Genome/Model/status.html?id=[% model_id %]" style="text-decoration:none;font-size:85%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view model &gt;</a>
													</td>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														patient:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% patient_upn %]
													</td>
												</tr>
												<tr>
                                                  <td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
                                                    species:
                                                  </td>
                                                  <td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
                                                    [% species %] <a href="https://imp.gsc.wustl.edu/view/Genome/Taxon/default.html?id=[% taxon_id %] " style="text-decoration:none;font-size:85%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view taxon &gt;</a>

                                                  </td>
												</tr>

												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														reference sequence:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% IF ref_seq_desc %]
															[% ref_seq_desc %] <a href="https://imp.gsc.wustl.edu/view/Genome/Model/Build/status.html?id=[% ref_seq_build_id %]" style="text-decoration:none;font-size:85%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view reference build &gt;</a>
														[% ELSE %]
															[% ref_seq_name %] <a href="https://gscweb.gsc.wustl.edu[% ref_seq_dir %]" style="text-decoration:none;font-size:85%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view reference directory &gt;</a>
														[% END %]
													</td>
												</tr>


												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														tissue sample:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% tissue_sample_label %]
													</td>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														extraction:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% extraction_label %] ([% extraction_name %]) [% extraction_type %] ID:[% extraction_id %]
													</td>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														processing profile:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% processing_profile_name %] [% processing_profile_type %] ([% processing_profile_id %])
													</td>
												</tr>

											</table><!-- report subsection-->
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:20px 0 0 0;padding:0;" summary="report subsection header">
												<tr>
													<td style="border-bottom: 2px solid #CCC;">
														<h2 style="font-family:Helvetica,Arial,sans-serif;font-size:100%;color:#36372c;margin:0 0 0 0;padding:5px 0 3px 5px;">
															Build Details
														</h2>
													</td>
													<td style="border-bottom: 2px solid #CCC;" align="right">
														<a href="https://gscweb.gsc.wustl.edu[% data_directory %]" style="text-decoration:none;font-size:70%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view data directory&gt;</a>
													</td>
												</tr>
											</table>
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:5px 0 5px 5px;padding:0;" summary="report subsection data table">
												<colgroup>
													<col/>
													<col width="100%"/>
												</colgroup>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														build id:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% build_id %] <a href="https://imp.gsc.wustl.edu/view/Genome/Model/Build/status.html?id=[% build_id %]" style="text-decoration:none;font-weight:bold;font-size:85%;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view build &gt;</a>
													</td>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														completion date:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% build_date %]
													</td>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														lane count:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% total_number_of_lanes %]
													</td>
                                                                                                </tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														input base count:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% total_gigabases %] Gb
													</td>
												</tr>
											</table><!-- report subsection-->
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:20px 0 0 0;padding:0;" summary="report subsection header">
												<tr>
													<td style="border-bottom: 2px solid #CCC;">
														<h2 style="font-family:Helvetica,Arial,sans-serif;font-size:100%;color:#36372c;margin:0 0 0 0;padding:5px 0 3px 5px;">
															Haploid
														</h2>
													</td>
													<td style="border-bottom: 2px solid #CCC;" align="right">
														<!--<a href="https://gscweb.gsc.wustl.edu[% data_directory %]reports/RefSeqMaq/report.html" style="text-decoration:none;font-size:70%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view details &gt;</a>-->
													</td>
												</tr>
											</table>
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:5px 0 5px 5px;padding:0;" summary="report subsection data table">
												<colgroup>
													<col/>
													<col width="100%"/>
												</colgroup>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-weight:bold;text-align:left;white-space:nowrap;padding:5px 5px 5px 0;">
														haploid coverage:
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;white-space:nowrap;padding:5px 5px 5px 0;">
														[% haploid_coverage %]
													</td>
												</tr>
											</table>
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0;" summary="report subsection data table">
												<tr>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														SNP Calls
													</th>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														Chromosomes
													</th>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														Filtering
													</th>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% unfiltered_snp_calls %]
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
                                                        [% snp_chromosomes %]
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														depth &gt; 1
													</td>
												</tr>
												<tr>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
													  [% filtered_snp_calls %]
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
                                                      [% snp_chromosomes %]
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
                                                      [% snp_caller %]
													</td>
												</tr>
											</table>

											<!-- report subsection-->
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:20px 0 0 0;padding:0;" summary="report subsection header">
												<tr>
													<td style="border-bottom: 2px solid #CCC;">
														<h2 style="font-family:Helvetica,Arial,sans-serif;font-size:100%;color:#36372c;margin:0 0 0 0;padding:5px 0 3px 5px;">
															Diploid
														</h2>
													</td>
													<td style="border-bottom: 2px solid #CCC;" align="right">
													  <a href="https://imp.gsc.wustl.edu/view/Genome/Model/Set/gold-snp-comparison.html?genome_model_id=[% model_id %]" style="text-decoration:none;font-size:70%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view diploid graph &gt;</a>
													</td>
													<td style="border-bottom: 2px solid #CCC;" align="right">
													  <a href="https://gscweb.gsc.wustl.edu[% data_directory %]reports/Gold_SNP_Concordance/report.html" style="text-decoration:none;font-size:70%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view details &gt;</a>
													</td>
												</tr>
											</table>
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0;" summary="report subsection data table">
												<tr>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														% Coverage
													</th>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														Count
													</th>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														Variant Sites
													</th>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														Filtering
													</th>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% unfiltered_diploid_het_coverage_percent %]
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% unfiltered_diploid_het_coverage_actual_number %]
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														heterozygous
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														unfiltered
													</td>
												</tr>
												<tr>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% unfiltered_diploid_hom_coverage_percent %]
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% unfiltered_diploid_hom_coverage_actual_number %]
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														homozygous
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														unfiltered
													</td>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% filtered_diploid_het_coverage_percent %]
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% filtered_diploid_het_coverage_actual_number %]
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														heterozygous
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% snp_caller %]
													</td>
												</tr>
												<tr>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% filtered_diploid_hom_coverage_percent %]
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% filtered_diploid_hom_coverage_actual_number %]
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														homozygous
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% snp_caller %]
													</td>
												</tr>
											</table>


											<!-- report subsection-->
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:20px 0 0 0;padding:0;" summary="report subsection header">
												<tr>
													<td style="border-bottom: 2px solid #CCC;">
														<h2 style="font-family:Helvetica,Arial,sans-serif;font-size:100%;color:#36372c;margin:0 0 0 0;padding:5px 0 3px 5px;">
															dbSNP
														</h2>
													</td>
													<td style="border-bottom: 2px solid #CCC;" align="right">
														<a href="https://gscweb.gsc.wustl.edu[% data_directory %]reports/dbSNP_Concordance/report.html" style="text-decoration:none;font-size:70%;font-weight:bold;font-family:Helvetica,Arial,sans-serif;line-height:1.2;">view details &gt;</a>
													</td>
												</tr>
											</table>
											<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin-top:0;" summary="report subsection data table">
												<tr>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														% Concordance
													</th>
													<th style="background-color:#EEE;border-bottom:2px solid #e1e1e1;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:oblique;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														Filtering
													</th>
												</tr>
												<tr>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% unfiltered_dbsnp_concordance %]
													</td>
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														unfiltered
													</td>
												</tr>
												<tr>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% filtered_dbsnp_concordance %]
													</td>
													<td style="background-color:#F6F6F6;font-family:Helvetica,Arial,sans-serif;font-size:90%;color:#36372c;font-style:normal;white-space:nowrap;padding:5px;font-weight:normal;text-align:left;">
														[% snp_caller %]
													</td>
												</tr>
											</table>



										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td align="right" style="background-color: #f2f2f1;">
							<img src="http://genome.wustl.edu/images/uploads/genome_institute_logo_H_sm.png" width="106" height="50" alt="The Genome Institute at Washington University School of Medicine" style="margin: 10px;"/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
