Source: genome-www
Section: science
Priority: optional
Build-Depends: debhelper (>= 7), perl, perl-base, perl-modules, genome, genome-db, ur, libanyevent-perl, libdbi-perl, libev-perl, libfcgi-perl, libplack-perl, libtest-simple-perl, libweb-simple-perl, libfcgi-procmanager-perl, libwww-perl, libjson-perl, libstarman-perl, solr-common (>= 1.4), memcached, libcache-memcached-perl, libwebservice-solr-perl, libmro-compat-perl, libxml-libxml-perl, libxml-libxslt-perl, libxml-simple-perl, apache2, cronolog, libapache2-mod-fastcgi, curl, libspreadsheet-writeexcel-perl, tomcat6, liblog-dispatch-perl
Maintainer: The Genome Institute <gmt@genome.wustl.edu>

Package: genome-www
Provides: libgenome-www-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, perl, perl-base, perl-modules, genome, genome-db, ur, libanyevent-perl, libdbi-perl, libev-perl, libfcgi-perl, libplack-perl, libtest-simple-perl, libweb-simple-perl, libfcgi-procmanager-perl, libwww-perl, libjson-perl, libstarman-perl, solr-common (>= 1.4), memcached, libcache-memcached-perl, libwebservice-solr-perl, libmro-compat-perl, libxml-libxml-perl, libxml-libxslt-perl, libxml-simple-perl, apache2, cronolog, libapache2-mod-fastcgi, curl, libspreadsheet-writeexcel-perl, tomcat6, liblog-dispatch-perl
Description: A web-server for Genome.
 A web-server, solr search database, and memcache layer for the Genome Modeling System. 
