============================================================
Contact Overview of Project: [% project.name %]
============================================================

This report based on information from Build [% build.id %], created [% time_now %].

HTML version of this report: 
[% files_url %][% build.data_directory %]/reports/Contact_Overview/report.html
[% count=1; %]

[% FOREACH project IN project_list %]
Contacts for Project
------------------------------------------------------------
     internal contact: [% project.internal_contact_name %]  ([% project.internal_contact_email %])

              all of [% project.internal_contact_name %]'s projects:
              ---------------------------------[% FOREACH ic_project IN ic_projects.sort('name') %]
              [% ic_project.name %]:  [% ic_project.description %][% END %]

     external contact: [% project.external_contact_name %]  ([% project.external_contact_email %])

              all of [% project.external_contact_name %]'s projects:
              ---------------------------------[% FOREACH ec_project IN ec_projects.sort('name') %]
              [% ec_project.name %]:  [% ec_project.description %][% END %]
[% END %]
-------------------------------------------------------


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                  The Genome Center at Washington University
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
