============================================================
Model Overview of Model [% model.name %]
============================================================

This report based on information from Build [% build.id %], created [% time_now %].

HTML version of this report: 
[% files_url %][% build.data_directory %]/reports/Model_Overview/report.html
[% count=1; %]

Model Details
------------------------------------------------------------
                genome model: [% model.id %] "[% model.name %]"
                     project: [% FOREACH project IN project_list %][% IF count>1 %]
                              [% project.name %][% ELSE %][% project.name %][% END; %][% count=count+1; %][% END; %]
                      sample: [% sample.name %]
          processing profile: [% pprofile.name %], [% pprofile.type_name %]
             instrument data: [% model.instrument_data.size %] read sets

Builds
------------------------------------------------------------
     build id      date completed[% FOREACH model_build IN model_build_list %][% IF model_build.build_status != 'Abandoned' %]
       [% model_build.id %]      [% model_build.build_status %]: [% model_build.date_completed %][% END %][% END %]
------------------------------------------------------------


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                  The Genome Center at Washington University
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
